:root {
  --sl-color-accent-low: #d9efea;
  --sl-color-accent: #08717a;
  --sl-color-accent-high: #06484e;
  --sl-color-text-accent: #075b64;
}

:root[data-theme="dark"] {
  --sl-color-accent-low: #12383b;
  --sl-color-accent: #62c5bd;
  --sl-color-accent-high: #d9efea;
  --sl-color-text-accent: #8ad8d1;
}

.hero img,
.orientation-image img {
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.25rem;
}
